<!-- Footer -->
<footer class="footer">
  <div class="copy">
    <p>E: ribeiropdiogo@gmail.com</p>
    <p>T: (+351) 963 278 254</p>
  </div>
  <div class="soc-box">
    <div class="follow-label">Follow Me</div>
    <div class="soc">
      <a target="_blank" href="https://www.linkedin.com/in/ribeiropdiogo">
        <span class="icon fab fa-linkedin"></span>
      </a>
      <a target="_blank" href="https://www.instagram.com/ribeiropdiogo/">
        <span class="icon fab fa-instagram"></span>
      </a>
    </div>
  </div>
  <div class="clear"></div>
</footer>