<!-- Meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<meta property="og:locale" content="en_EN">
<meta property="og:type" content="website">
<meta property="og:title" content="Diogo Ribeiro">
<meta property="og:site_name" content="Diogo Ribeiro">
<meta name="description" content="Diogo Ribeiro" />
<meta name="keywords" content="Diogo, Ribeiro, Diogo Ribeiro, Software, Engineer, Resume, CV, Portfolio" />
<meta name="author" content="Diogo Ribeiro" />

<!-- Title -->
<title>Diogo Ribeiro</title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">

<!-- Custom CSS -->
{% stylesheet min-styles %}
{% stylesheet fontawesome %}
{% stylesheet brands %}
{% stylesheet solid %}


