<header class="header">
  <div class="head-top">

    <!-- menu button -->
    <a href="#" class="menu-btn"><span></span></a>

    <!-- logo -->
    <div class="logo hover-masks-logo">
      <a href="/Ribeiro's_CV[EN].pdf">
        <span class="mask-lnk">Diogo <strong>Ribeiro</strong></span>
        <span class="mask-lnk mask-lnk-hover">Download <strong>CV</strong></span>
      </a>
    </div>
    
    <!-- top menu -->						
    <div class="top-menu hover-masks">
      <div class="top-menu-nav">	
        <div class="menu-topmenu-container">
          <ul class="menu">
            <li class="menu-item">
              <a href="/">Home</a>
            </li>
            <li class="menu-item">
              <a href="/about/">About</a>
            </li>
            <li class="menu-item">
              <a href="/portfolio/">Works</a>
            </li>
            <li class="menu-item">
              <a href="/contacts/">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</header>