<!-- Section About -->
<div class="section about" id="section-about">
    <div class="content content-box">

        <!-- image -->
        <div class="image">
            {% image 'ribeiro.jpg' %}
        </div>

        <!-- desc -->
        <div class="desc">
            <p>Hi! I’m Diogo Ribeiro. I study Software Engineering at University of Minho in Braga. I consider myself a dynamic and responsible person who likes to use his knowledge to leave a positive mark in the world and is always looking for a new challenge.</p>
            <div class="info-list">
                <ul>
                    <li><strong>Age:</strong> 20</li>
                    <li><strong>Country:</strong> Portugal</li>
                    <li><strong>Freelance:</strong> Available</li>
                    <li><strong>City:</strong> Braga</li>
                    <li><strong>Phone:</strong> +351 963 278 254</li>
                    <li><strong>E-mail:</strong> ribeiropdiogo@gmail.com</li>
                </ul>
            </div>
            <div class="bts">
                <a href="/Ribeiro's_CV[EN].pdf" class="btn hover-animated">
                    <span class="circle"></span>
                    <span class="lnk">Download CV</span>
                </a>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>