<!-- Section Started -->
<div class="section started" id="section-started">
  <!-- background -->
  <div class="video-bg">
    <div class="video-bg-mask"></div>
    <!-- <div class="video-bg-texture" id="grained_container"></div> -->
  </div>

  <!-- started content -->
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="started-content">
        <h1 class="h-title">
          Hi, I’m <strong>Diogo Ribeiro</strong>, and I'm an Software
          Engineering <br />
          Student at University of Minho.
        </h1>
        <div class="h-subtitle typing-subtitle">
          <p>I develop <strong>software</strong></p>
          <p>I love <strong>challenges</strong></p>
          <p>I code cool <strong>websites</strong></p>
        </div>
        <span class="typed-subtitle"></span>
      </div>
    </div>
  </div>
</div>
