<section id="contacts">
  <div class="container ">
    <h1>Redes Sociais</h1>
    <div class="col-md-12">
      <div class="contacts">
        <div class="contact icons-space">
          <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/HackathonHeartbits">
            <i class="fab fa-facebook fa-5x" aria-hidden="true"></i>
            <h6>HackathonHeartbits</h6>
          </a>
        </div>
        <div class="contact icons-space">
          <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hackathon_heartbits/">
            <i class="fab fa-instagram fa-5x" aria-hidden="true"></i>
            <h6>@hackathon_heartbits</h6>
          </a>
        </div>
      </div>
    </div>
    <h1>Organização</h1>
    <div class="col-md-12">
      <div class="contacts">
        <div class="contact icons-space">
          <a target="_blank" rel="noopener noreferrer" href="mailto:cesium@di.uminho.pt">
            <i class="fas fa-envelope cesium fa-5x" aria-hidden="true"></i>
            <h6>cesium@di.uminho.pt</h6>
          </a>
        </div>
        <div class="contact icons-space">
          <a target="_blank" rel="noopener noreferrer" href="mailto:imagem@anem.pt">
            <i class="fas fa-envelope anem fa-5x" aria-hidden="true"></i>
            <h6>imagem@anem.pt</h6>
          </a>
        </div>
        <div class="contact icons-space">
          <a target="_blank" rel="noopener noreferrer" href="mailto:comunicacao@anem.pt">
            <i class="fas fa-envelope anem fa-5x" aria-hidden="true"></i>
            <h6>comunicacao@anem.pt</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
